
body{
    margin: 0;
    height: 100vh;
    background-color: rgb(103, 117, 0);
}
.container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto 100;
}

header{
    background-color: rgb(0, 0, 0);
    grid-column-start: 1;
    grid-column-end: 5;

}

.nestedheader{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100 1fr;
}

main{
    grid-column-start: 2;
    grid-column-end: 5;
}

.nested{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2,1fr);
    background-color: white;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}

.nested > div {
    background-color: rgb(171, 164, 164);
}

aside{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end: 3;
}

footer{
    background-color: rgb(0, 0, 0);
    grid-column-start: 1;
    grid-column-end: 5;
}